.nav-link.active:hover {
    color: white !important;
}
.custom-header{
    font-size: 18px;
    font-weight: 500;
    font-family: "Segoe UI";
    line-height: 18px;
}
.custom-header-2{

    font-size: 30px;
    font-weight: 700;
    font-family: "Segoe UI";

}
.custom-div{
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.custom-paragraph{
    font-size: 14px;
    font-weight: 400;
    font-family: "Segoe UI";
    text-align: justify;
    color: black;
}
.custom-footer-header{
    padding: 10px;
}
.custom-footer-2{
    padding-right: 30px;
    padding-left: 30px;
}
.custom-link-1{
    text-decoration: underline;
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-family: "Segoe UI";
}
.custom-padding-div-1{
    padding-right: 47px;
}

.custom-image-2{
    height: 574px;
    width: 100%;
}

.custom-image-3{
    height: 800px;
    width: 100%;
}
.custom-image-4{
    width: 302px;
    height: 224px;
}
.pie-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.pie-container canvas {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 50%;
}

.pie-container {
    position: relative;
    width: 197px;
    height: 197px;
}

#pieCanvas {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover #pieCanvas {
    transform: translateY(-10px); /* Moves the canvas up */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
}
#pieCanvas2 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover #pieCanvas2 {
    transform: translateY(-10px); /* Moves the canvas up */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
}
#pieCanvas3 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover #pieCanvas3 {
    transform: translateY(-10px); /* Moves the canvas up */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adds a shadow for depth */
}
.custom-button-shedule{
    background-color: orangered !important;
    color: white !important;
    text-decoration: none !important;
    border-radius: 0 !important;
    width: 322px !important;
    font-size: 28px !important;
    font-weight: 500 !important;
}


